@using Microsoft.AspNetCore.Identity

@model List<IdentityUser>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Data Table Of User Account</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td style="width:50px">
                            <form asp-action="ResetPassword" method="post">
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-labeled btn-info" title="Reset Password">
                                    <span class="btn-label"><i class="fa fa-retweet" aria-hidden="true"></i></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (TempData["NewPassword"] != null)
{
    <div class="alert alert-success" role="alert">
        New password: @TempData["NewPassword"]
    </div>
}
