@model FPTJOB.Models.Profile

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Create</h1> *@

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Create Profile</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserID" class="control-label"></label>
                    <input asp-for="UserID" class="form-control" value="@ViewBag.UserID" readonly/>
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"> Full Name</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Skill" class="control-label"></label>
                    <input asp-for="Skill" class="form-control" />
                    <span asp-validation-for="Skill" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Education" class="control-label"></label>
                    <input asp-for="Education" class="form-control" />
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="UploadFile">Choose a file</label>
                    <input type="file" name="UploadFile" class="form-control-file" />
                </div>
                @* <div class="form-group">
                    <label asp-for="MyFile" class="control-label"></label>
                    <input asp-for="MyFile" class="form-control" />
                    <span asp-validation-for="MyFile" class="text-danger"></span>
                </div> *@
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@* <h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" value="@ViewBag.UserID"/>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill" class="control-label"></label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyFile" class="control-label"></label>
                <input asp-for="MyFile" class="form-control" />
                <span asp-validation-for="MyFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@