@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FPTJobMatch</h1>
    <h5 class="sticky-bottom">
        Welcome to FPTJobMatch! We're thrilled to have you here. This is your ultimate platform to explore exciting career opportunities and connect with jobs that match your skills and passions. Whether you're starting fresh or looking to take the next big step in your career, FPTJobMatch makes the journey easier and more enjoyable. Dive in, explore, and let us help you find the job that’s just right for you. Your dream career starts here – let’s get started!
    </h5>
</div>
