@model FPTJOB.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="card-title" style="font-size: 20px"><strong>Category Details</strong></h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h5><strong>@Html.DisplayNameFor(model => model.Name):</strong></h5>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.Name)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5><strong>@Html.DisplayNameFor(model => model.Status):</strong></h5>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.Status)</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
